* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body {
  font-size: larger;
  font-weight: 500;
  line-height: 2rem;
}

.container {
  height: 100vh;
  display: flex;
  background-image: linear-gradient(to top, #f2e2e2, #f6f0f0);
  flex-wrap: wrap;
}

.input-container {
  text-align: center;
  font-size: 2rem;
  color: orange;
}

input[type="color"] {
  border: none;
  width: 100px;
  height: 50px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
}

.left_container {
  height: 100vh;
  background-color: aliceblue;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  flex-wrap: wrap;
}

.row1 {
  display: flex;
}
.row2 {
  display: flex;
}
.blank {
  width: 100px;
  height: 100px;
}

.row3 {
  display: flex;
}

label img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: 0.5s ease;
}

label img:hover {
  background-color: grey;
}

input[type="radio"] {
  display: none;
}

.rgbCode {
  margin-top: 5rem;
  color: orange;
}

.rgbCode span {
  font-weight: bolder;
  margin-right: 6px;
  color: rgb(201, 148, 49);
}
