* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

img {
  width: 150px;
  height: 150px;
}
.heading {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: coral;
}

.heading input {
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 35px;
  padding: 1rem;
  margin-right: 15px;
}

.heading h1 {
  margin-left: 5rem;
  font-weight: bolder;
}

.container {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
}
.card {
  margin: 20px;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.imgContainer {
  text-align: center;
  padding: 15px;
}

.infoConatiner p {
  color: black;
  font-size: 1rem;
}

.infoConatiner {
  text-align: center;
}
