* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: black;
}
h1 {
  font-size: 50px;
  color: white;
}

.genButtons > button {
  padding: 10px;
  border-radius: 5px;
  width: 70px;
  border: none;
  margin: 5px 5px;
  background-color: rgb(226, 156, 131);
  font-size: 15px;
  font-weight: 600;
  color: black;
  cursor: pointer;
}
.genButtons > button:hover {
  background-color: coral;
}

.msg {
  color: white;
  font-size: 30px;
}

.heading {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: space-around;
}

.heading input {
  border: none;
  border-radius: 5px;
  width: 300px;
  height: 35px;
  padding: 1rem;
}
.err {
  color: white;
}

.container {
  text-align: center;
  background-image: url("images/pexels-photo-4188296.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
}
.card {
  width: 200px;
  height: 250px;
  margin: 25px;
  border-radius: 5px;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: aliceblue;
}

.card img {
  object-fit: cover;
  width: 100%;
}

.imgContainer {
  text-align: center;
  padding: 15px;
}

.infoConatiner p {
  color: black;
  font-size: 1rem;
}

.infoConatiner {
  text-align: center;
}
