@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Montserrat&family=Roboto&family=Satisfy&display=swap");
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
body {
  line-height: 2rem;
  font-family: "Roboto" sans-serif;
  background-image: url(https://images.pexels.com/photos/7163953/pexels-photo-7163953.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form h1 {
  font-size: x-large;
  border-bottom: 2px solid rgb(109, 102, 102);
}

.info input[type="number"] {
  margin-left: 17px;
}

.result {
  width: 70%;
}

input {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: 1px solid white;
}

.result_output {
  font-size: x-large;
  margin-bottom: 10rem;
}

input[type="submit"] {
  background-color: orange;
  font-weight: bolder;
  cursor: pointer;
}

span {
  font-weight: bolder;
}
