@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Montserrat&family=Roboto&family=Satisfy&display=swap");

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  line-height: 2rem;
}

html {
  font-family: "Roboto" sans-serif;
  font-weight: 600;
  color: azure;
}

body {
  background-color: aliceblue;
  background-image: url(images/tasty-pepperoni-pizza-black-concrete-background_79782-2287.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  width: 100%;
}

.formContainer {
  height: 100vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

label {
  text-align: left;
}

#customerName {
  border: 1px solid rgb(222, 205, 205);
  padding: 9px;
}

.formContainer h1 {
  padding: 1rem;
  font-size: xx-large;
}

.formContainer h3 {
  padding: 1rem;
  font-size: large;
}
.formContainer select {
  border: 1px solid rgb(222, 205, 205);
  padding: 9px;
  cursor: pointer;
}

button {
  margin-top: 15px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: orange;
  width: 6rem;
  cursor: pointer;
}

button:hover {
  background-color: rgb(189, 87, 3);
}

.orderdetails {
  height: 100vh;
  width: 50%;
  text-align: center;
}

.orderdetails h1 {
  padding: 1rem;
  font-size: xx-large;
}

.newDetails {
  background-color: aliceblue;
  margin-top: 100px;
  border: 2px solid rgb(158, 148, 148);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  width: 500px;
  padding: 20px;
}

.newDetails h2 {
  color: rgb(76, 54, 54);
}

.newDetails span {
  color: rgb(82, 64, 64);
  font-size: larger;
  font-weight: bold;
}

.newDetails p {
  line-height: 3rem;
  font-size: large;
  font-weight: bold;
  color: rgb(139, 95, 95);
}
